@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #55587d;
  color: white;
  margin: 0 auto;
  max-width: 1600px;
}

.root {
  display: flex;
  flex-direction: column;
  background-color: #22254b;
}

@media only screen and (max-width: 450px) {
  header,
  ul {
    justify-content: center;
  }
  .button {
    margin-bottom: 10px;
  }
  .btns-group {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .header {
    position: absolute;
  }
}
